form > div > input {
    border-radius: 15px;
}

.is-valid{
    border: 1px solid green;
}

.is-invalid{
    border: 1px solid red;
}

.messages{
    opacity: 0;
    transition: all .5s ease-in;
}

.active{
    opacity: 1;
}