<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-cog"></i> Control clientes
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal"
                    (click)="open(content)">
                    <i class="fa fa-plus"></i> Agregar cliente
                </a>
            </div>
        </div>
    </div>
</section>

<!-- listado clientes -->
<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado clientes</h4>
                    </div>
                    <table class="table table-striped" *ngIf="clients.length > 0">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre completo</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i = index">
                                <td> {{ i + 1 }} </td>
                                <td> {{ client.nombre }} {{ client.apellido }}</td>
                                <td> {{ client.saldo | currency: 'COL': '$' }} </td>
                                <td align="center">
                                    <a routerLink="/board/client/edit/{{ client.id }}" class="btn btn-secondary me-2">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> Editar
                                    </a>
                                    <a class="btn btn-danger" (click)="delete(client.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tarjetas laterales -->
            <div class="col-md-4">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo total</h3>
                        <div class="display-6">
                            {{ getSaldoTotal() | currency: 'COL': '$'}}
                        </div>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total clientes</h3>
                        <div class="display-5">
                            <i class="fa fa-user" aria-hidden="true"></i> {{ clients?.length }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Ventana modal -->

<ng-template #content let-modal>
    <div class="modal-header bg-info">
        <h4 class="modal-title" id="modal-basic-title">Agregar cliente</h4>
        <button type="button" class="btn btn-lg" (click)="clear(); modal.dismiss('Cross click');">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>

    <form [formGroup]='clientForm' (ngSubmit)='add()'>
        <div class="modal-body">
            <div class="form-group mb-3">
                <label for="nombre" class="ms-2 mb-1">Nombre(s)</label>
                <input 
                type="text" 
                name="nombre" 
                id="nombre" 
                class="form-control" 
                formControlName="nombre"
                [class.is-valid]="nameFieldValid"
                [class.is-invalid]="nameFieldInvalid">
                <div class="messages" [class.active]="nameFieldInvalid">
                    <small [hidden]="!(clientForm.get('nombre').hasError('required') && (clientForm.get('nombre').dirty || clientForm.get('nombre').touched))"
                    class="text-danger">
                    *El campo es requerido
                    </small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="apellido" class="ms-2 mb-1">Apellidos</label>
                <input 
                type="text" 
                name="apellido" 
                id="apellido" 
                class="form-control" 
                formControlName="apellido"
                [class.is-valid]="lastNameFieldValid"
                [class.is-invalid]="lastNameFieldInvalid">
                <div class="messages" [class.active]="clientForm.get('apellido').touched && clientForm.get('apellido').invalid">
                    <small *ngIf="clientForm.get('apellido').hasError('required') && (clientForm.get('apellido').dirty || clientForm.get('apellido').touched)"
                    class="text-danger">
                    *El campo es requerido
                    </small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="apellido" class="ms-2 mb-1">Email</label>
                <input 
                type="text" 
                name="email" 
                id="email" 
                class="form-control" 
                formControlName="email"
                [class.is-valid]="emailFieldValid"
                [class.is-invalid]="emailFieldInvalid">
                <div class="messages" [class.active]="clientForm.get('email').touched && clientForm.get('email').invalid">
                    <small *ngIf="clientForm.get('email').hasError('required') && (clientForm.get('email').dirty || clientForm.get('email').touched)"
                    class="text-danger">
                        *El campo es requerido
                    </small>
                    <small *ngIf="clientForm.get('email').hasError('email')" class="text-danger">
                        *El email no es valido
                    </small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="saldo" class="ms-2 mb-1">Saldo <small style="color: silver;">(sin puntos ni comas)</small></label>
                <input 
                type="number" 
                name="saldo" 
                id="saldo" 
                class="form-control" 
                formControlName="saldo" 
                placeholder="min. 400000 pesos"
                [class.is-valid]="balanceFieldValid"
                [class.is-invalid]="balanceFieldInvalid">
                <div class="messages" [class.active]="clientForm.get('saldo').touched && clientForm.get('saldo').invalid">
                    <small *ngIf="clientForm.get('saldo').hasError('required') && (clientForm.get('saldo').dirty || clientForm.get('saldo').touched)"
                    class="text-danger">
                    *El campo es requerido
                    </small>
                    <small *ngIf="clientForm.get('saldo').hasError('min')" class="text-danger">
                        *monto minimo: $ 400.000 mil
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid" (click)="modal.close()">Guardar</button>
        </div>
    </form>
</ng-template>